/* index page */
@media screen and (max-width: 992px){

    .nav-home{
        width: 35%;
    }

    .intro-home{
        padding-left: 10%;
    }


}

@media screen and (max-width: 768px){

    .nav-home{
        width: 40%;
    }

    .tags{
        grid-template-columns: 1fr 1fr;
    }

}

@media screen and (max-width: 650px){

    .nav-menu {
        transform: translateX(-15%)translateY(0%);
    }

    .nav-menu ul li{
        font-size: 34px;
    }

    .nav-home{
        width: 43%;
    }

    .intro-home {
        padding-left: 0px;
    }

    .intro-home-content{
        padding-right: 0px;
    }

    .nav-toggle{
        width: 90px;
        height: 90px;
        left: -20px;
        top: -20px;
    }
    .nav-toggle > span{
        height: 4px;
        width: 60%;
        margin: -10px 0;
    }

    .tags{
        grid-template-columns: 1fr 1fr;
    }

    .field-group {
        display: block;
        margin: 0;
    }

    .field {
        margin-bottom: 20px;
    }

}

@media screen and (max-width: 540px){

    .nav-home {
        width: 55%;
    }

    .nav-menu ul li{
        font-size: 34px;
    }

}

@media screen and (max-width: 420px){

    .nav-home {
        width: 43%;
    }

    .nav-menu ul li{
        font-size: 34px;
    }

    .nav-home{
        width: 65%;
    }

    .intro-home {
        padding-left: 0px;
    }

    .intro-home-content{
        padding-right: 0px;
    }

    .tags{
        grid-template-columns: 1fr;
    }

}

@media screen and (max-width: 320px){

    .nav-home{
        width: 85%;
    }

    .intro-home {
        padding-left: 0px;
    }

    .intro-home-content{
        padding-right: 0px;
    }

}

@media screen and (max-width: 240px){

    .nav-home{
        width: 100%;
    }

    .nav-menu{

    }

    .intro-home {
        padding-left: 0px;
    }

    .intro-home-content{
        padding-right: 0px;
    }

}
